@import "tailwindcss";

body {
  margin: 0;
}

.input {
  @apply w-full border border-gray-300 rounded-md px-3 py-2 text-sm;
}

.range-thumb::-webkit-slider-thumb {
  -webkit-appearance: none;
  pointer-events: auto;
  width: 16px;
  height: 16px;
  border-radius: 9999px;
  background: #111827;
  cursor: pointer;
  border: 2px solid white;
  box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.2);
}

.range-thumb::-moz-range-thumb {
  pointer-events: auto;
  width: 16px;
  height: 16px;
  border-radius: 9999px;
  background: #111827;
  cursor: pointer;
  border: 2px solid white;
  box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.2);
}
